.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-top: 150px;
    margin-right: 155px;
}

.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600px;
    margin-left: 125px;
}

.popular hr {
    width: 200px;
    margin-left: 125px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular_item {
    margin-top: 30px;
    display: flex;
    gap: 50px;
    margin-left: 115px;
}

@media (max-width: 1280px) {
    .popular {
        height: 70vh;
    }
    .popular h1 {
        font-size: 40px;
        margin-left: 105px;
    }

    .popular hr {
        margin-left: 105px;
        width: 160px;
        height: 4px;
    }

    .popular_item {
        margin-top: 30px;
        gap: 20px;
    }
}

@media (max-width: 1024px) {
    .popular {
        height: 60vh;
    }
    .popular h1 {
        font-size: 40px;
        margin-left: 105px;
    }

    .popular hr {
        margin-left: 105px;
        width: 160px;
        height: 4px;
    }

    .popular_item {
        margin-top: 30px;
        gap: 20px;
    }
}
@media (max-width: 640px) {
    .popular {
        margin-right: 125px;
    }
    .popular h1 {
        font-size: 30px;
        margin-left: 105px;
    }

    .popular hr {
        margin-left: 105px;
        width: 130px;
        height: 3px;
    }

    .popular_item {
        margin-top: 30px;
        gap: 20px;
    }
}

@media (max-width: 640px) {
    .popular {
        margin-right: 125px;
        margin-top: 1px;
    }
    .popular h1 {
        font-size: 20px;
        margin-left: 105px;
    }

    .popular hr {
        margin-left: 105px;
        width: 130px;
        height: 2px;
    }

    .popular_item {
        margin-top: 30px;
        gap: 20px;
    }
}

@media (max-width: 472px) {
    .popular {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        height: 100vh;
        width: 350px;
        margin-right: 205px;
    }

    .popular h1 {
        font-size: 13px;
        margin-left: 115px;
    }

    .popular hr {
        margin-left: 115px;
        width: 130px;
        height: 2px;
    }

    .popular_item {
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 100px;
        margin-right: 100px;
    }
    .item p {
        font-size: 12px;
        width: 155px;
    }
    .popular_item .item-image {
        height: 180px;
        width: 170px;
        gap: 55px;
        padding: 10px;
    }
}

@media (max-width: 427px) {
    .popular {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .popular h1 {
        font-size: 15px;
        margin: auto;
        padding-left: 95px;
    }

    .popular hr {
        margin-left: 105px;
        width: 130px;
        height: 2px;
    }

    .item p {
        font-size: 10px;
        width: 155px;
    }
    .popular_item {
    margin-top: 30px;
        margin-bottom: 18px;
        margin-right: 135px;
    }

    .popular_item .item-image {
        height: 150px;
        width: 150px;
        gap: 55px;
        margin-right: 110px;
        margin-bottom: 5px;
    }
}

@media (max-width: 361px) {
    .popular {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .popular h1 {
        font-size: 15px;
        margin: auto;
        padding-left: 115px;
    }

    .popular hr {
        margin-left: 105px;
        width: 130px;
        height: 2px;
    }

    .item p {
        font-size: 10px;
        width: 155px;
    }
    .popular_item {
    margin-top: 30px;
        margin-bottom: 18px;
    }

    .popular_item .item-image {
        height: 150px;
        width: 150px;
        gap: 55px;
        margin-right: 135px;
        margin-bottom: 5px;
    }
}